.mainFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../images/form-wallpaper.png');
    background-size:cover;
    background-position:30px;
    width: 20vw;
    height: 40vh;
    border-radius: 15px;
    margin-top: 50px;
}
.titleContainer {
background-color: rgb(255, 0, 51);
width: 38vw;
border-radius: 45px;
opacity: 0.6;
margin-top: 45px;
}
.titleContainer h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 15px;
}
.mainFormContainer .inputs, select{
    width: 10vw;
    height: 4vh;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;

}
.inputRadioButtons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 10vh;
}

#doneStatus{
    color: rgb(98, 194, 69);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}
#pendingStatus{
    color: rgb(255, 0, 0);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}

.eachButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'New Tegomin', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.formMainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.inputs:focus, .deleteButton:focus, .editButton:focus{
    outline: none;
}

.mainFormContainer h2 {
    font-family: 'New Tegomin', serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.inputs, .deleteButton, .editButton, .modalContainer {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    border-radius: 5px;
    border:none;
    }
.inputs:hover,
.deleteButton:hover, 
.editButton:hover,
.modalContainer:hover,
.inputs:focus,
.deleteButton:focus,
.editButton:focus,
.modalContainer:focus,
.inputs:active,
.deleteButton:active,
.editButton:active,
.modalContainer:active
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

    #taskSend{
        border: none;
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,119,252,1) 0%, rgba(145,144,237,1) 100%);
        color: rgb(255, 255, 255);
        letter-spacing: 5px;
        border-radius: 5px;
    }
    @-webkit-keyframes titleContainer {
        25% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        75% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
      @keyframes titleContainer {
        25% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        75% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
      .titleContainer {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      }
      .titleContainer:hover, .titleContainer:focus, .titleContainer:active {
        -webkit-animation-name: titleContainer;
        animation-name: titleContainer;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }

    @media (max-width: 1800px) and (min-width: 800px) {
        .mainFormContainer{
            width: 30vw;
            height: 70vh;
            }
            .mainFormContainer .inputs, select{
                width: 20vw;
                height: 6vh;
            }
            .mainFormContainer h2 {
                font-size: 25px;
                padding-top: 30px;
            }
            .titleContainer {
                width: 60vw;
                height: 10vh;
                border-radius: 10px;
                }
                .titleContainer h1{
                    font-size: 30px;
                    padding-top: 17px;
                }
    }

    @media (max-width: 800px) and (min-width: 500px) {
        .mainFormContainer{
        width: 50vw;
        height: 70vh;
        }
        .mainFormContainer .inputs, select{
            width: 30vw;
            height: 5vh;
        }
        .mainFormContainer h2 {
            font-size: 25px;
            margin-top: 20px;
        }
        .titleContainer {
            width: 60vw;
            height: 10vh;
            border-radius: 10px;
            }
            .titleContainer h1{
                font-size: 20px;
                padding-top: 17px;
            }
    }


    @media (max-width: 499px) and (min-width: 250px) {
        .mainFormContainer{
        width: 80vw;
        height: 90vh;
        }
        .mainFormContainer .inputs, select{
            width: 50vw;
            height: 10vh;
        }
        .mainFormContainer h2 {
            font-size: 25px;
            padding-top: 40px;
        }
        .titleContainer {
        width: 60vw;
        border-radius: 10px;
        }
        .titleContainer h1{
            font-size: 30px;
        }
    }