.modalContainer{
    background-image: url('../../images/not-found.jpg');
    width: 45vw;
    height:50vh;
    margin: 0 auto;
    border-radius: 15px;
    opacity: 0.8;
    margin: 70px;
}
.MainModalContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainModalContainer h1{
color:rgb(0, 0, 0);
font-family: 'Orbitron', sans-serif;
margin-top: 50px;
letter-spacing: 15px;
}