table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80vw;
    table-layout: fixed;
    font-family: 'Orbitron', sans-serif;
    margin-top: 50px;
}

    table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    }

    table th,
    table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
}
.deleteButton{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(201,106,150,1) 0%, rgba(252,70,70,1) 0%, rgba(218,94,123,1) 100%, rgba(145,144,237,1) 100%);
    border:none;
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

.editButton{
    background: rgb(252,70,70);
    background: radial-gradient(circle, rgba(252,70,70,1) 0%, rgba(201,106,150,1) 0%, rgba(218,94,123,1) 0%, rgba(145,144,237,1) 0%, rgba(9,48,244,1) 100%);
    border:none;
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

@media (max-width: 1700px) and (min-width: 1200px) {
    .deleteButton{
        width: 10vw;
    }
    .editButton{
        width: 10vw;
    }
}

@media (max-width: 1200px) and (min-width: 885px) {
    .deleteButton{
        width: 11vw;
        font-size: 10px;

    }
    .editButton{
        width: 12vw;
        font-size: 10px;
    }
}

@media screen and (max-width: 885px){
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }
    
    table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}
    
    table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}
    
    table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}
    
    table td:last-child {
        border-bottom: 0;
    }
    .deleteButton{
        width: 15vw;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .editButton{
        width: 15vw;
        font-size: 12px;
        letter-spacing: 2px;
    }
}


@media (max-width: 600px) and (min-width: 250px) {
    .deleteButton{
        width: 30vw;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .editButton{
        width: 30vw;
        font-size: 12px;
        letter-spacing: 2px;
    }
}